#main {
	margin: 0;
	padding: 0;
}

.gameTitle {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-color: #111;
	transition: all 0.5s ease-in-out;
}

.gameUIHidden {
	opacity: 0;
	visibility: hidden;
}

.gameTitleText, .gameOverText{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
    transform: translateX(-50%);
	color: #fff;
}

.gameOver {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-color: #422;
	transition: all 0.5s ease-in-out;
}

#gameVolume:hover {
	cursor: pointer;
	color: #a7236f;
}