html, body {
	overflow: hidden;
}
#main {
	margin: 0;
	padding: 0;
}

#gameTitle {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-color: #111;
}

#gameOver {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-color: #422;
}

.gameTitleText, .gameOverText {
	position: relative;
	top: 30%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
	color: #fff;
}
.gameOverText {
	top: 30%;
}

.gameUIHidden {
	opacity: 0;
	visibility: hidden;
}

#gameVolume:hover {
	cursor: pointer;
	color: #a7236f;
}

#gameVolumeIcon {
	line-height: 1;
}