#main {
	margin: 0;
	padding: 0;
}

div#gameTitle {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-color: #222;
}

#gameTitleText {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
    transform: translateX(-50%);
	color: #fff;
}