/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/
header {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #000), color-stop(0.00, #555));
	background: -webkit-linear-gradient(#555, #000);
	background: -moz-linear-gradient(#555, #000);
	background: -o-linear-gradient(#555, #000);
	background: -ms-linear-gradient(#555, #000);
	background: linear-gradient(#555, #000);
}
#userIcon {
	width: 24px;
	height: 24px;
}
#main {
	margin-top: 50px;
	padding: 10px;
}

