extends layout 
block head
  link(rel="stylesheet", href="/stylesheets/game.css")
block gameMenu
  li.navbar-text HP 
    span#gameHp  0 
  li.navbar-text Score 
    span#gameScore  0 
    |  pt 
  li.navbar-text#gameVolume
    i.fa.fa-volume-off.fa-lg#gameVolumeIcon
block content
  div#gameTitle
    h1.gameTitleText.text-center
      img.img-responsive.title(src="resources/title.png")
    p.gameTitleText.text-center EnterKeyでスタート！
  div#gameOver.gameUIHidden
    h1.gameOverText.text-center GameOver!
    p.gameOverText.text-center EnterKeyでタイトルへ
  <div id="game"><span id="load_msg">now loading...</span></div>
block insertScript
  script(src="//cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="javascripts/Background.js")
  script(src="javascripts/Player.js")
  script(src="javascripts/AvatarManager.js")
  script(src="javascripts/EnemyManager.js")
  script(src="javascripts/ItemManager.js")
  script(src="resources/soundEffect.js")
  script(src="javascripts/SoundManager.js")
  script(src="javascripts/yanatsuba.js")