extends layout 
block head
  link(rel="stylesheet", href="/stylesheets/game.css")
block gameMenu
  li.navbar-text HP 
    span#gameHp  0 
  li.navbar-text Score 
    span#gameScore  0 
    |  pt 
  li.navbar-text
    i.fa.fa-volume-down.fa-lg
block content
  div.gameTitle
    h1.gameTitleText.text-center ヤナギニツバメ
    p.gameTitleText.text-center EnterKeyでスタート！
  div.gameOver.gameUIHidden
    h1.gameOverText.text-center GameOver!
  <div id="game"><span id="load_msg">now loading...</span></div>
  script(src="/socket.io/socket.io.js")
  script(src="javascripts/Background.js")
  script(src="javascripts/Player.js")
  script(src="javascripts/AvatarManager.js")
  script(src="javascripts/EnemyManager.js")
  script(src="javascripts/ItemManager.js")
  script(src="javascripts/SoundManager.js")
  script(src="javascripts/yanatsuba.js")