extends layout

block content
  h1= title
  div.row
    div.hidden-xs.hidden-sm
      div.col-md-6.col-md-offset-3.col-lg-6.col-md-offset-3
        a.btn.btn-lg.btn-info(href="/game", role="button") Play!
      div.col-md-6.col-md-offset-3.col-lg-6.col-md-offset-3
        if isLogin
          a.btn.btn-lg.btn-primary(href="/user", role="button")
            i.fa.fa-user user page
        else
          a.btn.btn-lg.btn-primary(href="/login/twitter", role="button")
            i.fa.fa-twitter-square  login Twitter
          a.btn.btn-lg.btn-primary(href="/login/facebook", role="button")
            i.fa.fa-facebook-square  login Facebook
    div.hidden-lg.hidden-md
      p.bg-warning.text-muted お使いの端末ではプレイする事が出来ません
    div.col-md-6.col-md-offset-3.col-lg-6.col-md-offset-3.col-sm-12.col-xs-12
      table.table.table-condensed
        tbody
          - for(var i = 0; i < rank.length; i++) {

          - }
