extends layout

block content
  h1
    img.img-responsive.title(src="resources/title.png")
  div.row
    div.hidden-xs.hidden-sm
      div.col-md-6.col-md-offset-3.col-lg-6.col-md-offset-3
        a.btn.btn-lg.btn-info(href="/game", role="button") Play!
      div.col-md-6.col-md-offset-3.col-lg-6.col-md-offset-3
        if isLogin
          a.btn.btn-lg.btn-primary(href="/user", role="button")
            i.fa.fa-user user page
        else
          a.btn.btn-lg.btn-primary(href="/login/twitter", role="button")
            i.fa.fa-twitter-square  login Twitter
          a.btn.btn-lg.btn-primary(href="/login/facebook", role="button")
            i.fa.fa-facebook-square  login Facebook
    div.hidden-lg.hidden-md
      p.bg-warning.text-muted お使いの端末ではプレイする事が出来ません
    div.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3.col-sm-6.col-sm-offset-3.col-xs-12
      h3 About
      p ヤナギニツバメはnode.js製の多人数参加型全方位シューティング！
      p 出現する敵を倒したり、倒した敵から出たアイテムを集めてポイントを稼ごう！
      p なかなか倒せない敵は協力して倒したり、他のプレイヤーの近くに敵を出したり、遊び方は自由！
      table.table.table-condensed
        tbody
          tr
            td
              img(src="resources/player.png")
            td PLAYER
            td 画面中央に表示される、あなたが操作するオブジェクトです。
          tr
            td
              img(src="/resources/item.png")
            td ITEM
            td 1つ1000ポイントのアイテムで、触れると獲得できます。もっともポイントが高いのでたくさん集めましょう！
          tr
            td
              img(src="/resources/akatan.png") 
            td AKATAN
            td 体力の低い敵で、倒して得られるポイントはかなり低いです。
          tr
            td
              img(src="resources/aotan.png") 
            td AOTAN
            td AKATANより少し強い敵です。
          tr
            td
              img(src="resources/syobu.png") 
            td SYOBU
            td プレイヤーを追尾してくる敵です。体力と攻撃力が高いですが、ポイントは低めなので厄介です。
      h3 操作方法
        table.table.table-condensed.table-bordered
          tbody
            tr
              td W A S D
              td 移動
            tr
              td 方向キー ↑ ← ↓ →
              td 攻撃
      h3 推奨ブラウザ
      p Google chrome
      p Internet Explorer11
      h3 ランキング
      table.table.table-condensed
        tbody
          - for(var i = 0; i < rank.length; i++) {
            tr
              td= (i+1)
              td= rank[i].playerName
              td= rank[i].score
          - }
      h3 News
      p 2014/10/17 v1.0 公開      
      h3 LINK
      p 
        a(href="https://github.com/kiwiyuki/Yanagi-ni-Tsubame.git") Github
      p
        a(href="http://inf.tsukuba.ac.jp/ET-COJT/") COJT
  footer &copy; 2014 
    a(href="https://twitter.com/hotsure_sj") hotsure_sj 
    | and 
    a(href="https://twitter.com/kiwi_yuki") TKG