extends layout

block content
  div.container
      h1= title
    div.container
      div.row
        div.col-md-6.col-md-offset-3
          div.btn-group
            button.btn.btn-lg.btn-default(type="button")
              a(href="/login/twitter")
                i.fa.fa-twitter-square  login Twitter
            button.btn.btn-lg.btn-default(type="button")
              a(href="/login/facebook")
                i.fa.fa-facebook-square  login Facebook
    div.container
      button.btn.btn-lg.btn-default(type="button")
        a(href="/game") Play!
    div.container
      h3 About
    div
      h3 How to play
      div
        div.row
          div.col-md-6.col-md-offset-3
            table.table.table-bordered.table-condensed
              tr
                td W A S D
                td 移動
              tr
                td 方向キー ↑ ← ↓ →
                td 攻撃
