doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    title= title
    
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.min.js")
    
    block head
  body
    header.navbar.navbar-fixed-top.navbar-inverse
      div.container
        div.navbar-header
          a.navbar-brand(href="/") Yanagi-ni-Tsubame
        div.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              if isLogin
                li.dropdown
                  a.dropdown-toggle(href="#",data-toggle="dropdown")
                    img#userIcon(src=user.photo)
                    if user.provider === "twitter"
                      span= ' ' + user.username
                    else 
                      span= ' ' + user.displayName
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href="/logout") logout
              else
                li.dropdown
                  a.dropdown-toggle(href="#",data-toggle="dropdown") login
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href="/login/twitter")
                        i.fa.fa-twitter-square  with Twitter
                    li.divider
                    li
                      a(href="/login/facebook") 
                        i.fa.fa-facebook-square  with Facebook
    div#main
      block content
    footer