extends layout
 
block content
  div.container
    h1 プレイヤーデータ
    div.row
      div.col-md-6.col-md-offset-3
        form(method="post", target="/")
          table.table.table-condensed
            tr
              td ICON
              td
                img(src= user.photo)
            tr
              td NAME
              if user.provider === "twitter"
                td= user.username
              else
                td= user.displayName
            tr
              td(id="color") color
              td
                input(type="range",name="color",min="0",max="1",step="0.01",value= user.game.color,id="colorSlider")
          div.col-md-6.col-md-offset-3
            input.btn.btn-lg.btn-primary(type="submit",value="Save!")
          div.col-md-6.col-md-offset-3
            a.btn.btn-lg.btn-info(href="/game", role="button") Play!
block insertScript
  script(src="javascripts/user.js")